{% extends 'base.html' %}

{% block head %}
<title>Catful API Project</title>
{% endblock %}

{% block body %}
<div class="header">
    <h1 id='catful' class="catful">CatFUL API Project</h1>
    <h4 class="smallt">By Croix Chadha</h4>
</div>
<div id="intro-p" class="paragraph">
    <p>This is a simple project I want to make to broaden my understnding on flask, python, html, css and Javascript.. I know, alot of things. but that is what makes a good fullstack engineer! I will stop at nothing to become a great one!</p>
</div>
{% endblock %}