{% extends 'base.html' %}

{% block head %}
<title>Catful API Project</title>
{% endblock %}

{% block body %}
<div class="header">
    <h1 id='catful' class="catful">CatFUL API Project</h1>
    <h4 class="smallt">By Croix Chadha</h4>
</div>
<div id="intro-p" class="paragraph">
    <p>This is a simple project I want to make to broaden my understanding on Flask, Python, HTML, CSS and Javascript.. I know, alot of things. but that is what makes a good fullstack engineer! I will stop at nothing to become a great one!</p>
</div>

<div class="button" id="button" style="color: #A69888;">
    <button>Click this button to see some sweet cat facts</button>
    <button>Click this button to see only one cat fact</button>
    <button>Click this button to see tha cat breeds!</button>

</div>
{% endblock %}