{% extends 'base.html' %}

{% block head %}
<title>Catful API Project</title>
{% endblock %}

{% block body %}
<div class="header">
    <h1 id='catful' class="catful">CatFUL API Project</h1>
    <h4 class="smallt">By Croix Chadha</h4>
</div>
<div id="intro-p" class="paragraph">
    <p>This is a simple project I want to make to broaden my understanding on Flask, Python, HTML, CSS and Javascript.. I know, alot of things. but that is what makes a good fullstack engineer! I will stop at nothing to become a great one!</p>
</div>

<div class="button" >
    <button id="fact-button" class="fact">Click this button to see only one cat fact</button>
</div>

<div class="rd-catimage">
    <img src="{{ url_for('static', filename='Images/cat-stretch.jpg') }}" alt="cat stretching while yawning image">
</div>

<div class="resultarea" id="resultarea">
    nothing here yet! - Choose an option!
</div>
{% endblock %}